@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

ASISTO INGENIERIA

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5a5b5a;
$secondary_color: #3062a1;
$tertiary_color: #002e48;
$fourth_color: #002134;
$background: #f7f7f8;
$border: #e6e6e6;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Century Gothic Regular';
	src: url(fonts/GOTHIC.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	width: 100%;
	background-color: #fff;
	border-top: 8px solid $secondary_color;
	position: fixed;
	z-index: 10;
	.moduletable_to1 {
		padding: 5px 0;
	}
	.moduletable_to2 {
		ul.menu {
			background-color: $secondary_color;
			-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			float: right;
			position: relative;
			li {
				background: {
					image: url(moduletable_to2_menu_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&:last-child {
					background: none;
				}
				&.current-menu-item {
					a {
						color: #fff;
					}
				}
				/*&#menu-item-89 {
					a {
						padding: 10px 20px 10px 30px;
						background: {
							image: url(menu-item-23_bg.png);
							position: 6px center;
							repeat: no-repeat;
						}
					}
				}*/
				a {
					padding: 10px 20px;
					font-size: 16px;
					color: #fff;
					text-transform: uppercase;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
	.moduletable_to3 {
		margin: 15px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				padding: 0;
			}
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						/*background: {
							image: url(moduletable_to3_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}*/
						border-right: 1.8px solid #dedede;
						&:last-child {
							/*background: none;*/
							border: none;
						}
						&.current-menu-item {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 7px 35px 7px 15px;
							font: {
								family: 'Century Gothic Regular';
								size: 15px;
							}
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
							&:after {
								width: 16px;
								height: 10px;
								margin-top: -1px;
								right: 14px;
								background: {
									image: url(moduletable_to3_menu_a_bg.png);
									position: bottom;
									repeat: no-repeat;
								}
								border-top-color: transparent;
							}
						}
						&.menu-item-123,
						&.menu-item-39 {
							a {
								padding: 7px 15px;
							}
						}
						ul.sub-menu {
							padding: 15px 5px 5px 5px;
							background-color: #fff;
							border: 0;
							li {
								padding: 0;
								/*background-image: none;*/
								border: none;
								a {
									padding: 10px;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to4 {
		a {
			width: 32px;
			height: 32px;
			margin: 10px 5px;
			background-color: $secondary_color;
			border-radius: 50%;
			color: #fff;
			line-height: 34px;
			display: inline-block;
		}
	}
}

/* Banner */

.banner {
	padding-top: 120px;
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

.banner_bg {
	background: {
		image: url(banner_bg.png);
		position: bottom;
		repeat: repeat-x;
	}
}

/* Content */

.content {
	padding: 50px 0;
	font-size: 18px;
	h1 {
		font-size: 22px;
		letter-spacing: 4px;
		line-height: 28px;
		span {
			font-weight: bold;
		}
	}
	h3 {
		font: {
			size: 16px;
			weight: bold;
		}
		&.blue {
			width: 130px;
			margin: auto;
			margin-bottom: 10px;
			padding: 5px;
			background-color: $secondary_color;
			-webkit-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			color: #fff;
		}
	}
	strong {
		color: $secondary_color;
	}
	ul {
		&.accordion {
			li.accordion-item {
				&.is-active {
					a.accordion-title {
						background-color: $secondary_color;
						color: #fff;
						strong {
							color: #fff;
						}
					}
				}
				a.accordion-title {
					padding: 10px;
					background-color: $background;
					border: none;
					font-weight: bold;
					color: $secondary_color;
					text-align: left;
					text-transform: uppercase;
				}
				div.accordion-content {
					margin-bottom: 20px;
					padding: 10px;
					border: 1px solid $border;
					p,
					ul,
					ol {
						font-size: 14px;
						color: $primary_color;
					}
				}
			}
		}
	}
	.grey {
		margin-bottom: 20px;
		padding: 20px;
		background-color: $background;
	}
	.table {
		tbody {
			border: none;
			tr {
				border: none;
			}
		}
		p {
			margin: 0;
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

.content_grey {
	background-color: $background;
}

/* Service & Home 1 */

.service,
.home_1 {
	padding: 50px 0;
	.moduletable_se1,
	.moduletable_h11 {
		.columns {
			background: {
				image: url(home_1_columns_bg.png);
				position: bottom right;
				repeat: no-repeat;
			}
			&:last-child {
				background: none;
			}
		}
		p {
			padding: 5px;
			font-size: 18px;
			letter-spacing: 4px;
			line-height: 24px;
			&.no-margin {
				margin: 0;
			}
			&.active {
				background-color: $secondary_color;
				-webkit-border-radius: 10px 10px 0 0;
				border-radius: 10px 10px 0 0;
				a {
					color: #fff;
				}
			}
			a {
				color: $primary_color;
			}
		}
	}
}

/* Service */

.service {
	padding: 0;
	background-color: $background;
}

/* Home 2 */

.video {
	width: 100%;
	height: 415px;
	overflow: hidden;
	position: absolute;
}

.home_2 {
	padding: 120px 0;
	/*background: {
		image: url(home_2_bg.png);
		repeat: no-repeat;
		size: cover;
	}*/
	position: relative;
	.moduletable_h21 {
		h2 {
			width: 370px;
			margin: 0 auto;
			margin-bottom: 40px;
			padding: 15px 0;
			border: {
				top: 2px solid #fff;
				bottom: 2px solid #fff;
			}
			font-size: 38px;
			color: #fff;
			letter-spacing: 4px;
			line-height: 44px;
			span {
				font-weight: bold;
			}
		}
		a {
			&.button.hollow {
				margin: 0;
				border-color: #fff;
				font-size: 18px;
				color: #fff;
				letter-spacing: 4px;
				line-height: 24px;
			}
		}
	}
}

/* Home 3 */

.home_3 {
	padding: 50px 0;
	.moduletable_h31 {
		h2 {
			font: {
				size: 34px;
				weight: bold;
			}
			letter-spacing: 2px;
			line-height: 40px;
			span {
				color: $secondary_color;
			}
		}
	}
}

/* Home 4 */

.home_4 {
	padding: 50px 0;
	/*background-color: $secondary_color;*/
	.moduletable_h41 {
		h2 {
			width: 570px;
			margin: 0 auto;
			margin-bottom: 40px;
			padding: 15px 0;
			border: {
				top: 2px solid #fff;
				bottom: 2px solid #fff;
			}
			font-size: 38px;
			color: $secondary_color;
			letter-spacing: 4px;
			line-height: 44px;
			span {
				font-weight: bold;
			}
		}
		p {
			img {
				padding: 10px;
			}
		}
	}
}

/* Home 5 */

.home_5 {
	padding: 50px 0;
	/*background: {
		image: url(home_5_bg.jpg);
		position: top;
		repeat: no-repeat;
	}*/
	.moduletable_h51 {
		h2 {
			width: 370px;
			margin: 180px auto;
			padding: 15px 0;
			border: {
				top: 2px solid $secondary_color;
				bottom: 2px solid $secondary_color;
			}
			font-size: 38px;
			color: $secondary_color;
			letter-spacing: 4px;
			line-height: 44px;
			span {
				font-weight: bold;
			}
		}
		p {
			font-size: 18px;
			letter-spacing: 4px;
			line-height: 24px;
		}
	}
}

/* Home 6 */

.home_6 {
	.moduletable_h61 {
		iframe {
			border: 0;
		}
	}
}

/* Home 7 */

.home_7 {
	padding: 30px 0;
	background: {
		color: $tertiary_color;
		image: url(home_7_bg.jpg);
		position: top;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_h71 {
		h3,
		p {
			font-size: 14px;
			color: #fff;
			letter-spacing: 2px;
			line-height: 24px;
			a {
				color: #fff;
			}
		}
		a {
			&.button.hollow {
				border-color: #fff;
				color: #fff;
			}
		}
	}
}

/* Home 8 */

.home_8 {
	padding: 50px 0;
	/*background: {
		image: url(home_8_bg.jpg);
		position: top;
		repeat: no-repeat;
	}*/
	.moduletable_h81 {
		h2 {
			width: 370px;
			margin: 180px auto;
			padding: 15px 0;
			border: {
				top: 2px solid #fff;
				bottom: 2px solid #fff;
			}
			font-size: 38px;
			color: #fff;
			letter-spacing: 4px;
			line-height: 44px;
			span {
				font-weight: bold;
			}
		}
		a {
			&.button.hollow {
				margin: 0;
				margin-bottom: 40px;
				border-color: #fff;
				font-size: 18px;
				color: #fff;
				letter-spacing: 4px;
				line-height: 24px;
			}
		}
		p {
			font-size: 18px;
			letter-spacing: 4px;
			line-height: 24px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
			font-size: 18px;
			letter-spacing: 4px;
			line-height: 24px;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	font-size: 14px;
	color: #fff;
	letter-spacing: 2px;
	line-height: 24px;
	a {
		color: #fff;
	}
}

/* Pop Up */

.fancybox-container {
	#hidden-content {
		background-color: #0c1d2d;
		.moduletable_pop1 {
			color: #fff;
			.part_1 {
				padding: 10px 10px 0 10px;
				font-size: 40px;
			}
			.part_2 {
				padding: 25px 0;
				font-family: 'Century Gothic Regular';
				font-size: 24px;
			}
			.part_3 {
				padding: 25px 0;
			}
			.part_4 {
				padding: 10px 0;
				font-family: 'Century Gothic Regular';
				font-size: 24px;
				color: #23c2ed;
			}
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		position: inherit;
		.moduletable_to1 {
			padding: 10px 0;
		}
		.moduletable_to2 {
			ul.menu {
				width: 260px;
				margin: auto;
				float: none;
			}
		}
		.moduletable_to3 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					padding: 10px;
					text-align: center;
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						li {
							width: 100%;
							/*background: none;*/
							border: none;
							a {
								padding: 10px !important;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	/* Banner */

	.banner {
		padding-top: 0;
	}

	/* Home 4 */

	.home_4 {
		.moduletable_h41 {
			h2 {
				width: auto;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}